body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #090a2f; /* Темный-синий фон */
    color: #fff; /* Белый текст */
}

header {
    background-color: #090a2f;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.trust-section {
    background-color: #ff8c00; /* Оранжевый цвет для секции о доверии */
    padding: 50px;
    text-align: center;
}

.search-form {
    background-color: #090a2f;
    padding: 50px;
    text-align: center;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form label {
    margin: 10px;
    color: #fff;
}

form select,
form input {
    width: 200px;
    padding: 10px;
    margin: 10px;
    border: none;
    border-radius: 8px;
}

button {
    padding: 15px 30px;
    border: 2px solid #fff;
    border-radius: 12px;
    background-color: #fff;
    color: #1e1e1e;
    font-weight: bold;
    cursor: pointer;
}

.oval-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 30px;
}

.oval {
    width: 150px;
    height: 70px;
    background-color: #ff8c00;
    border-radius: 50%;
    text-align: center;
    padding: 10px;
    color: #1e1e1e;
    font-weight: bold;
}

.logo {
    padding-top: 0%;
}